@font-face {
  font-family: huakang_girl_w5;
  src: url(../huakang_girl_w5.ttf);
}
body{
  width: 100%;
  height: 100%;
  margin: 0px;
}
.border{
    position:absolute;
    z-index: 3;
    border:6px orange solid;
    border-radius:5px;
}
#js-background{
  display: flex;
  z-index: -1;
  position:absolute;
}
.tetris-canvas{
  width: 45%;
  height: 100%;
  display:block;
  z-index: 2;
  position:relative;
}
.container{
  width: 100%;
  height: 100%;
  display:flex; 
  z-index: 3;
  position:absolute;
  flex-direction: row;
}
.text{
  width: 10%;
  height: 100%;
  z-index: 3;
}